::-webkit-scrollbar{
    height: 5px;
}
::-webkit-scrollbar-track{
    background: #efefef; 
}
::-webkit-scrollbar-thumb{
    background: #919191;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer !important;
}

.card-inline{
height:168px;
width:1577px;
display: inline-block;
overflow-y: hidden
}

.nav-btn:hover{
    background-color: #efefef;
}

.shadow-hover:hover{
    transform: translate(0, -1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.btn-upload{
    width: 72;
    height: 72;
    position: fixed;
    bottom: 24px;
    right: 32px;
    background-color: #ff0055;
    color: white !important;
    box-sizing: border-box;
    font-size: 16px;
}